<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的模板页</title>
  
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <script>
        console.log("layout 1");

    </script>
    <div>
        _Layout 页面

    </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <script> 
        console.log("layout 2");

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        console.log("layout 3");

    </script>
    

</body>
</html>
